/* global section ============================================= styling starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* global section =================================================== styling ends */



/* navigation section ============================================== styling starts */
.btn{
    margin-top: 2.2rem;
    width: 53px;
    height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    background-color: rgb(23, 77, 226) !important;
}
.navbar{
    background-color: #395694 !important;
    color: white !important;
    width: 100%;
    padding-right: 100px;
    z-index: 1;
}
.navbar-brand{
    font-size: 40px;
    margin-left: 100px;
}
.navbar input{
    width: 220px;
    height: 35px;
}
#forgot{
    color: rgb(207, 207, 207);
}
/* navigation section ================================================= styling end */