/* global section ============================================= styling starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* global section =================================================== styling ends */



/* navigation section ============================================== styling starts */
.btn{
    margin-top: 2.2rem;
    width: 53px;
    height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    background-color: rgb(23, 77, 226) !important;
}
.navbar{
    background-color: #395694 !important;
    color: white !important;
    width: 100%;
    padding-right: 100px;
    z-index: 1;
}
.navbar-brand{
    font-size: 40px;
    margin-left: 100px;
}
.navbar input{
    width: 220px;
    height: 35px;
}
#forgot{
    color: rgb(207, 207, 207);
}
/* navigation section ================================================= styling end */



/* section =============================================================== styling starts */
section{
    background: rgb(239,239,239);
    background: linear-gradient(rgba(255,255,255,1) 100%, 65deg, rgba(239,239,239,1) 46%);
}
.text-section{
    margin-left: 100px;
    font-size: 22px;
}
.img-section{
    margin-left: 100px;
}
.footer{
    font-size: 13px;
    text-align: justify;
}

#signup{
    background-color: green !important;
    border: none;
    width: 200px;
    margin-left: 30px;
    height: 35px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
#signup:hover{
    background-color: rgb(29, 211, 29) !important;
}
/* section =========================================================== styling ends */



/* responsive ================================================== mediaquery starts */
@media screen and (max-width: 1085px){
    .navbar{
        padding-right: 10px;
    }
    .img-section{
        margin-left: 10px;
    }
    .text-section{
        margin-left: 10px;
    }
    .navbar-brand{
        margin-left: 10px;
    }
}
/* responsive ========================================================= meadiaquery ends */